*{
  font-family: "Inter", sans-serif;
}
.tab-btn{
  transition: all 0.2s ease-in-out;
}
.job-card {
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.job-card::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  border-radius: 6px 0 0 6px;
  transition: background-color 0.25s ease-in-out;
}
.job-card:hover{
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.15), 0 2px 4px -2px rgb(0 0 0 / 0.05);
}
.job-interview::before{
  background-color: #10b981;
}
.job-rejected::before{
  background-color: #ef4444;
}